Repository eugyenoch/pie, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, JSchanges, CSSchanges

Security Policy
  SECURITY.md
Labels: repo

Update SECURITY.md
  SECURITY.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  piecss/README.md
Labels: CSSchanges

Main piejs file
  piejs/pie.js
Labels: JSchanges

Update form.js
  piejs/form.js
Labels: JSchanges

Update math.pie.js
  piejs/math/math.pie.js
Labels: JSchanges

Update geolocation.js
  piejs/location/geolocation.js
Labels: JSchanges

Update history.js
  piejs/location/history.js
Labels: JSchanges

Update redirect.js
  piejs/location/redirect.js
Labels: JSchanges

Update reload.js
  piejs/location/reload.js
Labels: JSchanges

Update and rename piejs/timer.js to piejs/timer/clockdate.js
  piejs/timer.js
  piejs/timer/clockdate.js
Labels: JSchanges

Create countdown.js
  piejs/timer/countdown.js
Labels: JSchanges

Create dates.js
  piejs/timer/dates.js
Labels: JSchanges

Update README.md
  piecss/README.md
Labels: CSSchanges

Update README.md
  piejs/README.md
Labels: JSchanges

Update pie.css
  piecss/pie.css
Labels: CSSchanges

Update arc.pie.css
  piecss/file/arc.pie.css
Labels: CSSchanges

Update color.pie.css
  piecss/file/color.pie.css
Labels: CSSchanges

Update cursor.pie.css
  piecss/file/cursor.pie.css
Labels: CSSchanges

Update part file, main
  piecss/file/main.pie.css
Labels: CSSchanges

Update typo.pie.css
  piecss/file/typo.pie.css
Labels: CSSchanges

Update pie.css
  piecss/pie.css
Labels: CSSchanges

Update color.pie.css
  piecss/file/color.pie.css
Labels: CSSchanges

Create _arc.pie.scss
  piecss/file/_scss/_arc.pie.scss
Labels: CSSchanges

Create _color.pie.scss
  piecss/file/_scss/_color.pie.scss
Labels: CSSchanges

Create _colorVariable.pie.scss
  piecss/file/_scss/_colorVariable.pie.scss
Labels: CSSchanges

Create _cursor.pie.scss
  piecss/file/_scss/_cursor.pie.scss
Labels: CSSchanges

Create _vendor.pie.scss
  piecss/file/_scss/_vendor.pie.scss
Labels: CSSchanges

Create _main.pie.scss
  piecss/file/_scss/_main.pie.scss
Labels: CSSchanges

Create _typo.pie.scss
  piecss/file/_scss/_typo.pie.scss
Labels: CSSchanges

Update _arc.pie.scss
  piecss/file/_scss/_arc.pie.scss
Labels: CSSchanges

Update _color.pie.scss
  piecss/file/_scss/_color.pie.scss
Labels: CSSchanges

Update _colorVariable.pie.scss
  piecss/file/_scss/_colorVariable.pie.scss
Labels: CSSchanges

Update _colorVariable.pie.scss
  piecss/file/_scss/_colorVariable.pie.scss
Labels: CSSchanges

Update _cursor.pie.scss
  piecss/file/_scss/_cursor.pie.scss
Labels: CSSchanges

Update _main.pie.scss
  piecss/file/_scss/_main.pie.scss
Labels: CSSchanges

Update _typo.pie.scss
  piecss/file/_scss/_typo.pie.scss
Labels: CSSchanges

Update _vendor.pie.scss
  piecss/file/_scss/_vendor.pie.scss
Labels: CSSchanges

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
  
# Add 'JSchanges' to any changes within 'piejs' folder or any subfolders
JSchanges:
  - piejs/**/*
  
# Add 'CSSchanges' to any changes within 'piejcss' folder or any subfolders
CSSchanges:
  - piecss/**/*
